/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    border: 0;
    border-top: 1px solid #999;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;

    background-color: #000;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;

    -webkit-transition: background 0.5s ease-in-out;
       -moz-transition: background 0.5s ease-in-out;
         -o-transition: background 0.5s ease-in-out;
            transition: background 0.5s ease-in-out;
}

/*body.loading {
    background-size: 0;
    background-image: 0 !important;
}*/

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width:3em;
    bottom: 0;
    z-index: 100;
    overflow: hidden;
    background-color: #eee;
    background-color: rgba(238, 238, 238, 0.8);
    border-right: 1px #999 solid;
    
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}


.header-line {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

#nav-toggle {
    display: inline-block;
    
    margin: 0.9em 0.08em;
    white-space: nowrap;
    vertical-align: middle;
    float: left;
}

.nav-title {
    display: none;
    color: #444;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    margin-top: 1em;
    margin-bottom: 1em;
    white-space: nowrap;
    vertical-align: middle;
}

nav ul {
    margin: 0;
    padding: 0;
    
}

nav ul li {
    display: inline-table;
    width: 100%;
    height: 3em;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    
    background-color: #6e6e6e;
    background-color: rgba(110, 110, 110, 0.2);

    color: #444;

    border-bottom: 1px solid #999;
    
    cursor: pointer;
    
    -webkit-transition: opacity 0.5s ease-in-out;
       -moz-transition: opacity 0.5s ease-in-out;
         -o-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out;
}

/* ew gross */
nav ul li:nth-child(1)  { transition-delay: 0.00s }
nav ul li:nth-child(2)  { transition-delay: 0.05s }
nav ul li:nth-child(3)  { transition-delay: 0.10s }
nav ul li:nth-child(4)  { transition-delay: 0.15s }
nav ul li:nth-child(5)  { transition-delay: 0.20s }
nav ul li:nth-child(6)  { transition-delay: 0.25s }
nav ul li:nth-child(7)  { transition-delay: 0.30s }
nav ul li:nth-child(8)  { transition-delay: 0.35s }
nav ul li:nth-child(9)  { transition-delay: 0.40s }
nav ul li:nth-child(10) { transition-delay: 0.45s }
nav ul li:nth-child(11) { transition-delay: 0.50s }

nav ul li:last-child {
    border-bottom: none;
}

nav ul li:hover {
    background-color: #ccc;
    background-color: rgba(70, 70, 70, 0.2);
}

nav ul li.selected {
    background-color: #bbb;
    background-color: rgba(20, 20, 20, 0.2);
}

nav ul li a {
    padding-left: 0.6em;
    font-size: 1.2em;
    line-height: 3em;
    vertical-align: middle;
    text-decoration: none;
    color: #444;
}

.nav-text {
    display: none;
    margin-left: 0.5em;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 3em;
    text-align: center;
    color: #444;
}

#main-container {
    margin-left: 3em;
    
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}

#main {
    display: block;
    background-color: #eee;
    background-color: rgba(238, 238, 238, 0.8);
    color: #444;
    padding: 1em;
    overflow: hidden;
    
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}

#main-title {
    text-align: center;
    font-size: 2.5em;
    line-height: 1em;
}

#main-details {
    margin: 0 1em;
}

#main-details span {
    font-weight: bold;
    margin-right: 1em;
}

#main-md {
    opacity: 1;
    padding-bottom: 2em;
}

#main-md img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

#main-md img.small {
    height: 200px;
}

#main-md img.medium {
    height: 400px;
}

#main-md td {
    padding: 5px;
}

#main-md h1 {
    margin: 0 0 1em 0;
}

#main-md a {
    text-decoration: none;
    color: #0094de;
}

#main-md a:visited {
    color: #0094de;
}

#main-md a:hover {
    color: #0087ca;
}

#main-md a.button {
    padding: 1em;
    margin-right: 0.5em;
    text-decoration: none;
    font-size: 1.2em;
    display: inline-block;
    
    border-radius: 0.5em;
    
    background: #444;
    color: #fafafa;
}

#main-md a.button:hover {
    background: #666;
    color: #ddd;
}

#main-md .post-preview-list {
    padding: 0;
    list-style-type: none;
}

#main-md .post-preview-list li {
    padding: 0 30px;
}

#main-md .post-preview-list li.post {
    padding: 0.5em 30px;
}

#main-md .post-preview-list li.post:hover {
    background-color: #6e6e6e;
    background-color: rgba(110, 110, 110, 0.2);
}

#main-md .post-preview-list a {
    display: inline-block;
    width: 100%;
    color: #444;
}

#main-md .post-preview-list .title-line {
    display: block;
    margin: 0.5em 0;
    font-size: 1.1em;
    font-weight: bold;
}

#main-md .post-preview-list .title-line span {
    margin-right: 0.5em;
    display: inline-block;
}

#main-md .post-preview-list p {
    display: block;
}

#main-md .post-preview-list .img-container {
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: #999;
    line-height: 198px; /* HACK if it's not (height - 2) then the image shifts 1px below the container */
}

#main-md .post-preview-list .img-container img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    display: initial;
}

#main-md .post-preview-list .img-container i {
    width: 100%;
    vertical-align: middle;
}

#main-md .post-preview-list hr {
    margin: 0 0;
}

.social-media-link {
    display: inline-block;
    text-decoration: none;
    margin: 0.6em auto;
    color: #444;
    font-size: 1.5em;
}

.copyright {
    display: none;
    font-size: 0.75em;
    color: #444;
}

/* ==========================================================================
   Javascript-controlled states
   ========================================================================== */
   
#main.loading {
    opacity: 0;
}

nav.loading ul li {
    /*-webkit-transform: translate(-18em,0px);
        -ms-transform: translate(-18em,0px);
            transform: translate(-18em,0px);*/
            opacity: 0;
}
   
@media only screen and (max-width: 767px) {
    .header-container.expanded {
        width: 18em;
        background-color: rgba(238, 238, 238, 1);
    }

    .header-container.expanded .nav-title {
        display: inline-block;
        font-size: 1.8em;
        vertical-align: text-top;
    }

    .header-container.expanded nav ul li {
        text-align: left;
    }
    
    .header-container.expanded .nav-text {
        display: inline-block;
    }

    .header-container.expanded footer {
        width: 18em;
        overflow: hidden;
    }

    .header-container.expanded .social-media-link {
        margin-left: 0.75em;
    }

    .header-container.expanded .social-media-link:first-child {
        margin-left: 0;
    }

    .header-container.expanded .copyright {
        display: block;
    }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */
   
    .header-container {
        width: 18em;
    }
   
    #nav-toggle {
        display: none;
    }
   
    .nav-title {
        display: block;
    }

    .nav-text {
        display: inline-block;
    }
 
    footer {
        width: 18em;
    }
 
    #main-container {
        margin-left: 18em;
    }

    #main-md .post-preview-list .img-container {
        float: left;
        width: 448px;
        height: 280px;
        line-height: 278px;
        margin-right: 30px;
        margin-bottom: 10px;
    }
    
    .social-media-link {
        margin-left: 0.75em;
    }
    
    .social-media-link:first-child {
        margin-left: 0;
    }
    
    .copyright {
        display: block;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    #main {
        margin: 3em 3em;
        max-width: 60em;
    }
    
    .header-container {
        border-right: none;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}