<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="{{ site.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="apple-touch-icon" href="apple-touch-icon.png">

<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Julius+Sans+One|Source+Sans+Pro:400,600" rel="stylesheet">
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
{% if page.has-lightbox %}<link rel="stylesheet" href="{{ site.baseurl }}/css/lightbox.min.css">{% endif %}
{% if page.has-code %}<link rel="stylesheet" href="{{ site.baseurl }}/css/solarized-dark.css">{% endif %}

<script src="{{ site.baseurl }}/js/vendor/modernizr-2.8.3.min.js"></script>

<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        
ga('create', 'UA-49331617-1', 'auto');
ga('send', 'pageview');
</script>
