<div class="header-container">
    <header class="clearfix">
        <nav>
            <ul>
            {% for n in layout.nav %}<li><a href="{{ n.url }}">{{ n.text }}</a></li>{% endfor %}
            </ul>
        </nav>
        <div id="breadcrumbs">
            <ul>
            {%- assign split_url = page.url | split: '/' -%}
            {%- capture forLoopMaxInt -%}{{ split_url.size | minus:1 }}{%- endcapture -%}
            {%- for i in (1..forLoopMaxInt) -%}
                {%- capture current_breadcrumb_url -%}{{next_prepender}}/{{ split_url[i] }}/{%- endcapture -%}
                {%- capture next_prepender -%}{{next_prepender}}/{{ split_url[i] }}{%- endcapture -%}
                {%- if i == 1 -%}
                    {%- continue -%}
                {%- endif -%}
                {%- assign active = forloop.last -%}
                {%- for breadcrumb_page in site.pages -%}
                    {%- if current_breadcrumb_url == breadcrumb_page.url -%}
                        <li{% if active %} class="active"{% endif %}>
                            <a href="{{ site.baseurl }}{{ breadcrumb_page.url }}">{{breadcrumb_page.title}}</a>
                        </li>
                    {%- endif -%}
                {%- endfor -%}
            {%- endfor -%}
            </ul>
        </div>
    </header>
</div>
