<div class="header-container">
    <header class="clearfix">
        <nav>
            <ul>
            {% for n in layout.nav %}<li><a href="{{ n.url }}">{{ n.text }}</a></li>{% endfor %}
            </ul>
        </nav>
        <div id="breadcrumbs">
            <ul>
            {%- assign split_url = page.url | split: '/' -%}
            {%- assign num_breadcrumbs = 0 -%}
            {%- assign split_url_len = split_url.size | minus:1 -%}
            {%- capture next_prepender -%}/{{ split_url[1] }}{%- endcapture -%}            

            {%- capture breadcrumb_list -%}
            {%- for i in (2..split_url_len) -%}
                {%- capture current_breadcrumb_url -%}{{ next_prepender }}/{{ split_url[i] }}/{%- endcapture -%}
                {%- capture next_prepender -%}{{ next_prepender }}/{{ split_url[i] }}{%- endcapture -%}
                {%- assign active = forloop.last -%}
                {%- for breadcrumb_page in site.pages -%}
                    {%- if current_breadcrumb_url == breadcrumb_page.url -%}
                        {%- assign num_breadcrumbs = num_breadcrumbs | plus: 1 -%}
                        <li{% if active %} class="active"{% endif %}>
                            <a href="{{ site.baseurl }}{{ breadcrumb_page.url }}">{{breadcrumb_page.title}}</a>
                        </li>
                    {%- endif -%}
                {%- endfor -%}
            {%- endfor -%}
            {%- endcapture -%}

            {%- if num_breadcrumbs >= 2 -%}
                {{ breadcrumb_list }}
            {%- endif -%}
            </ul>
        </div>
    </header>
</div>
