{% assign post_count=0 %}

{% if include.limit == nil %}
    {% assign include.limit=50 %}
{% endif %}

<div class="post-preview-list">
    {% for post in site.posts %}
        {% if post_count >= include.limit %}
            {% break %}
        {% endif %}
    
        {% if include.filter-tag == nil or post.tags contains include.filter-tag %}
            <div class="post">
                <a href="{{ post.url }}">
                <div class="title-line">
                    <span class="title">{{ post.title }}</span>
                    {% include post-details.html page=post %}
                </div>
                
                {% if post.preview-img %}
                <div class="img-container">
                    <img src="{{ post.preview-img.url }}" alt="{{ post.preview-img.alt }}"></img>
                </div>
                {% else %}
                <div class="img-container img-container-empty">
                    <i class="fa fa-3x fa-picture-o img-placeholder"></i>
                </div>
                {% endif %}

                <p>{{ post.excerpt | strip_html }}</p>
                </a>
            </div>
        
            {% if forloop.last != true %}
            <div class="divider">
            <hr>
            </div>
            {% endif %}
            
            {% assign post_count=post_count | plus:1 %}
        
        {% endif %}
    {% endfor %}
</div>