<ul class="post-preview-list">
    {% for post in site.posts %}
        {% if include.filter-tag == nil or post.tags contains include.filter-tag %}
            <li>
                <a href="{{ post.url }}">
                <div class="title-line">
                    <span>{{ post.title }}</span>
                    <span>&bull;</span>
                    {% include post-details.html page=post %}
                </div>
                
                {% if post.preview-img %}
                    <img src="{{ post.preview-img.url }}" alt="{{ post.preview-img.alt }}"></img>
                {% else %}
                    <i class="fa fa-3x fa-picture-o img-placeholder"></i>
                {% endif %}
                
                <p>{{ post.excerpt | strip_html }}</p>
                </a>
                {% if forloop.last != true %}
                <hr>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>