<!DOCTYPE html>
<html class="no-js" lang="">

<head>
{% include head.html %}
</head>

<body>
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
        
{% include sidebar.html %}

<div class="main-container" id="main-container">
    <div class="main wrapper clearfix" id="main-content">
        {{ content }}
    </div>
</div>

{% include foot.html %}

</body>

</html>
