---
nav:
    - text: Home
      url: /
    - text: Blog
      url: /blog/
    - text: Software
      url: /software/
    - text: Portfolio
      url: /portfolio/
---
<!DOCTYPE html>
<html class="no-js" lang="">
<head>
{% include head.html %}
</head>
<body style="background-image: url({{ site.baseurl }}/img/{{ page.bg }})">
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% include nav.html %}
<div id="main-container">
    <div id="main" class="wrapper clearfix">
        {{ content }}
    </div>
</div>
{% include footer.html %}

{% include foot.html %}
</body>
</html>
