---
layout: default
nav:
  - text: Blog
    url: /blog/
    icon: fa-home
---
<h1 id="main-title">{{ page.title }}</h1>
<!--<p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>-->
<hr>
<div id="main-details">
    <i class="fa fa-lg fa-clock-o"></i> <span>{{ page.date | date: "%B %-d, %Y" }}</span>
    <span>&bull;</span>
    <i class="fa fa-lg fa-comments-o"></i> <span class="disqus-comment-count" data-disqus-identifier="{{ page.date | date: "%Y-%m-%d" }}-{{ page.title }}"> </span>
    <span>&bull;</span>
    <i class="fa fa-lg fa-tags"></i> <span>{% for post_tag in page.tags %}{{ post_tag }} {% if forloop.last == false %}, {% endif %}{% endfor %}</span>
</div>
<div id="main-md">
    {{ content }}
</div>

<!-- Disqus -->
{% if page.comments %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'robmaister';
    var disqus_identifier = '{{ page.date | date: "%Y-%m-%d" }}-{{ page.title }}';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}

<!-- Disqus count -->
{% if page.comments or page.comment-count %}
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'robmaister';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
{% endif %}